{# code to use macro to create pagination
   taken from Grinberg, M. 2018. Flask Web Development: Developing Web Application with Python. 2nd ed. Sebastopol: O’Reilly Media
   Chapter 11
#}
{% macro pagination_widget(pagination, endpoint) %}
    <ul class="pagination">
        <li {% if not pagination.has_prev %}class="disabled"{% endif %}>
            <a href="
                    {% if pagination.has_prev %}
                        {{ url_for(endpoint, page=pagination.page - 1, **kwargs) }}
                    {% else %}
                        #
                    {% endif %}">
                &laquo;
            </a>
        </li>
        {% for p in pagination.iter_pages() %}
            {% if p %}
                {% if p == pagination.page %}
                    <li class="active">
                        <a href="{{ url_for(endpoint, page=p, **kwargs) }}">{{ p }}</a>
                    </li>
                {% else %}
                    <li>
                        <a href="{{ url_for(endpoint, page=p, **kwargs) }}">{{ p }}</a>
                    </li>
                {% endif %}
            {% else %}
                <li class="disabled"><a href="#">&hellip;</a></li>
            {% endif %}
        {% endfor %}
        <li
                {% if not pagination.has_next %}
                    class="disabled"
                {% endif %}>
            <a href="
                    {% if pagination.has_next %}
                        {{ url_for(endpoint, page=pagination.page + 1, **kwargs) }}
                    {% else %}
                        #
                    {% endif %}">
                &raquo;
            </a>
        </li>
    </ul>
{% endmacro %}