{% extends "bootstrap/base.html" %}

{% block title %}Web Application Development{% endblock %}

{% block head %}
    {{ super() }}
    <link href='{{ url_for("static", filename="css/style.css") }}' rel="stylesheet">
{% endblock %}

{% block navbar %}
    <header id="top_navig_bar">
        {% include 'base/header.html' %}
    </header>
{% endblock navbar %}

{% block content %}
    <div class="container">
        <ul class="posts">
            {% for post in posts %}
                <li class="post">
                    <h3 class="post_title">
                        <a href="{{ url_for('main.post', post_id=post.id) }}">{{ post.post.title }}</a>
                    </h3>
                    <div class="post-date">{{ moment(post.timestamp).fromNow() }}</div>
                    <div class="post-author">{{ post.author.username }}</div>
                    <div class="post-body short_description">{{ post.abstract }}</div>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock content %}

{% block footer %}
    {% include 'base/footer.html' %}
{% endblock footer %}


