{% extends "bootstrap/base.html" %}

{% block title %}Web Application Development{% endblock %}

{% block head %}
    {{ super() }}
    <link href='{{ url_for("static", filename="css/style.css") }}' rel="stylesheet">
{% endblock %}

{% block navbar %}
    <nav class="navbar navbar-inverse" role="navigation" id="top_navig_bar'">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">Blacknana</a></div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="/" id="home">Home</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    {% if firstname %}
                        <li><a href="#" class="hello" id="pers_greet_login"><span class="glyphicon glyphicon-user"></span> Hello, {{ firstname }}!</a></li>
                        <li><a href="/" id="logout"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
                    {% else %}
                        <li><a href="#" class="hello" id="pers_greet">Hello, Guest!</a></li>
                        <li><a href="/login" id="login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                        <li><a href="/register" id="register"><span> Register</span></a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
{% endblock %}

{% block content %}
    <div class="container">
{#        <div class="page-header">#}
{#            <h1>Hello, {{ name }}!</h1>#}
{#        </div>#}
    </div>
{% endblock %}
