{% extends 'base/base.html' %}

{% block title %}Login{% endblock %}

{% block content %}
    <div class="container">
        <header class="page-header">
            <h1>Welcome Back</h1>
        </header>
        <div class="panel-body">
            <form class="form-horizontal" role="form" method="post">
                {{ form.hidden_tag() }}
                <div class="form-group">
                    {{ form.email.label() }}
                    <div class="input-group ">
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-user"></span>
                        </span>
                        {{ form.email(id='username', class='form-control') }}
                    </div>
                </div>
                <div class="form-group">
                    {{ form.password.label() }}
                    <div class="input-group">
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-certificate"></span>
                        </span>
                        {{ form.password(id='password', class='form-control') }}
                    </div>
                </div>
                <div class="form-group">
                    {{ form.remember_me() }} {{ form.remember_me.label() }}
                </div>
                <div class="form-group">
                    {{ form.submit(class='btn btn-default') }}
                </div>
            </form>
        </div>
    </div>

{% endblock content %}

{% block scripts %}
    {{ super() }}
    <script type="text/javascript">
        $(document).ready(function () {
            {#$('#username').keypress(function () {#}
            {#    if ($('#username').val().length === 20) {#}
            {#        $('#username').parents('.form-group').addClass('has-error').append('<msg class="msg">\n' +#}
            {#            '<p>Field cannot be longer than 20 characters</p>\n' +#}
            {#            '</msg>');#}
            {#    }#}
            //});
            $('#password').keypress(function () {
                if ($('#password').val().length === 20) {
                    $('#password').parents('.form-group').addClass('has-error').append('<msg class="msg">\n' +
                        '<p>Field cannot be longer than 20 characters</p>\n' +
                        '</msg>');
                }
            })
            {% if form.errors.email %}
                $('#username').parents('.form-group').addClass('has-error').append('<msg class="msg">\n' +
                    '{% for msg in form.errors.email %}<p>{{ msg }}</p>{% endfor %}\n' +
                    '</msg>');
            {% else %}
                $('#username').parents('.form-group').removeClass('has-error').remove('.msg');
            {% endif %}
            {% if form.errors.password %}
                $('#password').parents('.form-group').addClass('has-error').append('<msg class="msg">\n' +
                    '{% for msg in form.errors.password %}<p>{{ msg }}</p>{% endfor %}\n' +
                    '</msg>');
            {% else %}
                $('#password').parents('.form-group').removeClass('has-error').remove('.msg');
            {% endif %}
        })
    </script>
{% endblock scripts %}
