{% extends "bootstrap/base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}
{% import "_macros.html" as macros %}

{% block head %}
    {{ super() }}
    <link href='{{ url_for("static", filename="css/style.css") }}' rel="stylesheet">
{% endblock %}

{% block navbar %}
    <header id="top_navig_bar">
        {% include 'base/header.html' %}
    </header>
{% endblock navbar %}

{% block content %}
    {% include 'base/footer.html' %}
{% endblock content %}

{% block footer %}
    {% include 'base/footer.html' %}
{% endblock footer %}

{% block scripts %}
    {{ super() }}
    {{ moment.include_moment() }}
    <script type="text/javascript">
        $(document).ready(function () {
            {% for message in get_flashed_messages(category_filter="logout") %}
                alert("{{ message }}");
            {% endfor %}
            {% for message in get_flashed_messages(category_filter="register") %}
                alert("{{ message }}");
            {% endfor %}
        });

        function Search(val) {
            $('#forSearch').attr('href', '{{ url_for('main.search', data=val) }}');
        }
    </script>
{% endblock scripts %}


