<footer class="jumbotron">
    <div class="footer-menu text-center">
        <dl>
            <dt>Contact us by</dt>
            <dd><a href="mailto:xutianjiao97@gmail.com">Email</a></dd>
            <dd><a href="https://www.linkedin.com/in/tianjiao-xu-4a2b46225/">LinkedIn</a></dd>
        </dl>
        <dl>
            <dt>Information</dt>
            <dd><a href="#">Privacy Policy</a></dd>
            <dd><a href="#">Disclaimer</a></dd>
        </dl>
    </div>
    <div class="copyright text-center">Copyright&copy; 2021-2022 JoannaXu</div>
</footer>