{% extends "base/base.html" %}

{% block title %}Role{% endblock %}

{% block content %}
    <div class="container">
        <div class="table-responsive">
            <table class="table">
                <caption>Role</caption>
                <thead>
                <tr>
                    <th>NUM</th>
                    <th>NAME</th>
                </tr>
                </thead>
                <tbody>
                {% for role in roles %}
                    <tr>
                        <td>{{ roles.index(role) + 1 }}</td>
                        <td>{{ role.rolename }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    {{ super() }}
{% endblock content %}
