/*.hello {*/
/*    cursor: unset;*/
/*}*/
/*.input-group {*/
/*    margin: 10px;*/
/*}*/
.page-header h1 {
    display: inline;
    margin-right: 10px;
}
#per_greet:hover{
    color: #9d9d9d;
    cursor: unset;
}
footer {
    /*position: absolute;*/
    /*bottom: 0;*/
    width: 100%;
    margin-bottom: 0 !important;
}
/*.footer-menu {*/

/*}*/

footer dl {
    display: inline-block;
    width: 15%;
    /*margin-left: 45%;*/
    text-align: left;
    padding-left: 20px;
    border-left: 1px solid #000;
}
.copyright {
    margin-bottom: -20px;
}

msg {
    display: block;
}

.search {
    color: #9d9d9d;
    background-color: #222;
    border-color: #9d9d9d;
}

.search-btn:hover {
    color: #fff;
    background-color: #333;
    border-color: #9d9d9d;
}

.search-btn.focus, .search-btn:focus {
    color: #fff;
    background-color: #333;
    border-color: #9d9d9d;
    text-decoration: unset;
}

.search-btn:active:focus, .search-btn:active:hover {
    color: #fff;
    background-color: #333;
    border-color: #9d9d9d;
    /*text-decoration: unset;*/
}

.date_sort {
    float: right;
}

#form-submit {
    display: none;
}

.blog-post li {
    list-style: none;
}

.blog-post .divider {
    height: 1px;
    margin: 9px 0;
    overflow: hidden;
    background-color: #e5e5e5;
}

.post-date span {
    display: inline !important;
    float: right;
}

.post_content {
    padding-bottom: 9px;
    border-bottom: 1px solid #eee;
}

.comment-count {
    float: right;
}

.comment-count span {
    position: relative;
    top: 3px;
}

.comment_body {
    padding-inline-start: 0;
}

.comment_body .divider {
    height: 1px;
    margin: 9px 0;
    overflow: hidden;
    background-color: #e5e5e5;
}

.comment_body li {
    list-style: none;
}

.comment_date span {
    display: inline !important;
    float: right;
}

/*#select_rating {*/
/*    display: inline;*/
/*    cursor: pointer;*/
/*}*/
.rating span {
    cursor: pointer;
    font-size: 22px;
    position: relative;
    top: 3px;
}

.glyphicon-star {
    color: #FFD700;
}

.pagination {
    float: right;
}

label[for="rating"], input[name="rating"] {
    display: none;
}