/*.hello {*/
/*    cursor: unset;*/
/*}*/
/*.input-group {*/
/*    margin: 10px;*/
/*}*/
msg {
    display: block;
}

.search {
    color: #9d9d9d;
    background-color: #222;
    border-color: #9d9d9d;
}

.search-btn:hover {
    color: #fff;
    background-color: #333;
    border-color: #9d9d9d;
}
.search-btn.focus, .search-btn:focus{
    color: #fff;
    background-color: #333;
    border-color: #9d9d9d;
    text-decoration: unset;
}
.search-btn:active:focus, .search-btn:active:hover{
    color: #fff;
    background-color: #333;
    border-color: #9d9d9d;
    /*text-decoration: unset;*/
}
/*#form-submit {*/
/*    display: none;*/
/*}*/